
/* style */

        h1 {
            text-align: center;
            letter-spacing: .2ex;
        }

        tt, code, pre {
            font-family: Monaco, Courier New, monospace;
            font-size: 90%;
            letter-spacing: 1px;
            padding-left: .5ex;
        }

        tt > b, b > tt {
            letter-spacing: 1px;
        }

        body {
            font-family: Garamond;
            color: #000000;
        }

        a {
            color: #004477;
            text-decoration: none;
        }
        a:visited {
            color: #002244;
        }
        a:hover {
            color: #555555;
            text-decoration: underline;
        }

        table {
            border-collapse: collapse;
        }

        td, th {
            border: solid #cccccc 1px;
            padding: .2ex .5ex;
        }

/* design */

        #body {
            border-left: solid 1px #eeeeee;
            border-right: solid 1px #eeeeee;
        }

        #id-q {
            width: 70%;
            font-family: Monaco, Courier New, monospace;
            font-size: 90%;
            font-weight: bold;
            letter-spacing: 2px;
            border: solid 1px #aaaaaa;
            border-radius: 2em;
            -webkit-border-radius: 2em;
            padding: .8ex;

        } 

        #id-q-p {
            text-align: center;
        }

        .block {
            font-size: 80%;
            color: #aaaaaa;
            padding-left: 20%;
            padding-right: 20%;
        }

        .description {
        }

        .copyright {
            text-align: center;
        }

        .hr {
            text-align: center;
            background-image: url(hr.png);
            width: 569px;
            height: 24px;
        }

        .def {
            border-bottom: solid 1px #eeeeee;
            padding-left: 5ex;
        }

        .meanings {
            text-indent: -5ex;
        }

        .tag {
        }

        .odd {
            background-color: #ddddee;
        }

/* layout */

    .content {
        padding: 5px 20px;
    }

    /* center column */

        body {
            position: relative;
            text-align: center;
            margin: 0;
        }
        
        #body {
            margin: 0 auto;
            text-align: left;
            position: relative;
            width: 80ex;
            height: 90%;
        }

    /* disqus */

        #disqus {
            position: relative;
        }

        #disqus_thread {
            position: absolute;
            top: 20px;
            left: -290px;
            width: 250px;
        }

        .dsq-brlink {
            display: none;
        }

    /* ad and share */

        .right {
            position: relative;
        }

        .right-outer {
            position: absolute;
            left: 100%;
        }

        .right-inner {
            position: absolute;
            top: 20px;
            left: 40px;
            width: 250px;
            min-height: 300px;
        }

