<html>
    <head>
        <title>{q|html} Codish Lexicon</title>
        <link href="/index.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div id="body" class="content">

            <div class="right"><div class="right-outer"><div class="right-inner">
                <script type="text/javascript" src="http://w.sharethis.com/button/sharethis.js#publisher=793c9cd4-c096-454c-beab-9526ba13e079&amp;type=website&amp;style=rotate"></script>
            </div></div></div>

            <h1><a href="/?q=codish">Codish</a> <a href="/">Lexicon</a></h1>

            <p class="block description">
            One word for one meaning, One meaning for one word,<br/>
            Symmetric opposites, Comprehensive classes.<br/>
            A dictionary of computer programming <a href="?q=name">names</a>.
            </p>

            <form>
                <p id="id-q-p"><input type="text" name="q" id="id-q" value="{q|html-attr-value}"-></p>
                <input type="hidden" name="page" value="1">
            </form>

            <div class="hr"></div>

            <div id="disqus"><div id="disqus_thread"></div></div>
            <div class="right"><div class="right-outer"><div class="right-inner">
                <script type="text/javascript"><!--
                google_ad_client = "pub-4437882776111895";
                /* 234x60, created 6/15/09 */
                google_ad_slot = "6742573598";
                google_ad_width = 234;
                google_ad_height = 60;
                //-->
                </script>
                <script type="text/javascript"
                src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
                </script>
            </div></div></div>

            <div class="defs">{defs}</div>

            <p style="text-align: center"><a href="?q={q}&page={pageNext}"><tt>next</tt></a></p>

            <p class="block copyright">&copy;2009 <a href="http://cixar.com/~kris.kowal/">Kris Kowal</a></p>
            <p class="block copyright">
                <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/us/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/us/88x31.png" /></a>
            </p>
            <p class="block copyright">
                <span xmlns:dc="http://purl.org/dc/elements/1.1/" href="http://purl.org/dc/dcmitype/Text" property="dc:title" rel="dc:type">Codish Lexicon</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://cixar.com/~kris.kowal" property="cc:attributionName" rel="cc:attributionURL">Kris Kowal</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/us/">Creative Commons Attribution-Noncommercial-Share Alike 3.0 United States License</a>.</p>
            </p>


        </div>
        <script src="/index.js"></script>
        <script type="text/javascript" src="http://disqus.com/forums/codish/embed.js"></script><noscript><a href="http://codish.disqus.com/?url=ref">View the discussion thread.</a></noscript><a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
        <script type="text/javascript">
            var gaJsHost = ("https:" == document.location.protocol) ? "https://ssl." : "http://www.";
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script type="text/javascript">
            try {
                var pageTracker = _gat._getTracker("UA-9321937-1");
                pageTracker._trackPageview();
            } catch(err) {}
        </script>
    </body>
</html>
